 <label class="city-list__item">
    <span class="city-list__item-info">
      <span class="city-list__item-icon">
        <i class="city-list__icon"></i>
      </span>
      <span class="city-list__item-info-temperature"></span>
      <span class="city-list__item-info-wrapper">
        <span class="city-list__item-info-name"><%= item.address.cityName%></span>
        <span class="city-list__item-info-description"><%= item.address.country %></span>
      </span>
    </span>
    <span class="city-list__item-check">
      <input type="checkbox" class="city-check">
      <span class="city-check__mark"></span>
    </span>
  </label>
